/*colours:
dark teal: #02595F rgba(2,89,95,1)
mid blue: #7EADFF
lt blue: #D0DEF7
hilight blue: #BDD5FF
*/


body {
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
}

.row {
	margin: 0;
	padding: 0;
}

a, a:hover, a:active, a:visited, a:link {
	text-decoration: none;
}

p {
	color: #D0DEF7;
}

body:after{
    display:none;
    content: url("img/knitting2.JPG") url("img/sketchbook.jpg") url("img/letters.jpg");
}  /* preload hover/click images */

img {
	margin-bottom: 2em;
}

nav {
	text-align: right;
	font-size: 1.3em;
	padding: 1.5em 1.5em 0em;
	color: #7EADFF;
}

.glyphicon {
	color: #02595F;
}

h1 {
	color: #D0DEF7;
	font-size: 3em;
	padding-top: 0.5em;
	padding-left: 0.7em;
}

h3 a {
	color: #7EADFF;
	
}

.category {
	background-color: #02595F;
	padding-bottom: 3em;
	margin-top: 3em;
}

.category ul {
	color: #D0DEF7;
	margin-left: 2.1em;
	clear: both;
}



/* -------------- inside sections -------- */
.nav-pills li a {
	color: #7EADFF;
	font-size: 1.1em;
}

.nav-pills li a:hover, .nav-pills li a:focus,
 .nav-pills li a:active>a {
	background-color: #D0DEF7;
	color: #02595F;
}

.dropdown .dropdown-menu {
	margin-left: 0;
	background-color: #02595F;
	font-size: 1.1em;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #D0DEF7;
	color: #02595F;
}

/* ---------------- details ------------------- */

.detail, .expn { 
	display: none;
}

.expn h3 {
	margin-top: 2.2em;
}

.detail li a {
	font-size: 1em;
	color: #D0DEF7;
}

.detail a, .expn a, .detail ul a {
	color: #7EADFF;
	border-radius: 2px;
	padding: 0.2em;
}

.detail a:hover, .detail a:active,  
.expn a:hover, .expn a:active {
	color: #02595F;
	background-color: #D0DEF7;
}

.expn img {
	border-radius: 0.5em;
}

.expn a.img-link {
	background-color: transparent;
}

.expn img {
	border: 0.1em solid #7EADFF;
}

.expn img:hover {
	-webkit-box-shadow: 0px 0px 30px -4px rgba(126,173,255,1);
	-moz-box-shadow: 0px 0px 29px -4px rgba(126,173,255,1);
	box-shadow: 0px 0px 30px -4px rgba(126,173,255,1);
}



/* urg worry about pictures later mmmk
#dev:hover, #dev:active {
	background-image: url("");
}

#dev {
	background-image: url("");
}



#knitting {
	/* -----this bit doesn't work, need to do gradient tutorials
	background: #02595F;
	background-image: url("img/knitting2BW.JPG"); /* fallback 
	background-image: url("img/knitting2BW.JPG"), -webkit-gradient(linear, left top, left bottom, from(#02595F), to(rgba(2,89,95,0))); /* Saf4+, Chrome 
	background-image: url("img/knitting2BW.JPG"), -webkit-linear-gradient(left, #02595F, rgba(2,89,95,0)); /* Chrome 10+, Saf5.1+ 
	background-image: url("img/knitting2BW.JPG"),    -moz-linear-gradient(right, #02595F, rgba(2,89,95,0)); /* FF3.6+ 
	background-image: url("img/knitting2BW.JPG"),      -o-linear-gradient(right, #02595F, rgba(2,89,95,0)); /* Opera 11.10+ 
	background-image: url("img/knitting2BW.JPG"),         linear-gradient(to right, #02595F, rgba(2,89,95,0)); /* W3C 
	
	background-image: url("img/knittingBW.JPG");

}
#knitting:hover, #knitting:active {
	background-image: url("img/knitting.JPG");
}

#sketchbook {
	background-image: url("img/sketchbookCRBW.jpg");
}

#sketchbook:hover, #sketchbook:active {
	background-image: url("img/sketchbookCR.jpg");
}

#contact {
	background-image: url("img/lettersBW.jpg");
}
#contact:hover, #contact:active {
	background-image: url("img/letters.jpg");
}

/*

