/*colours:
dark teal: #02595F rgba(2,89,95,1)
mid blue: #7EADFF
lt blue: #D0DEF7
hilight blue: #BDD5FF
*/


body {
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
}

.row {
	margin: 0;
	padding: 0;
}

a, a:hover, a:active, a:visited, a:link {
	text-decoration: none;
}

p {
	color: #D0DEF7;
	padding-left: 15px;
	margin-top: 10px;
}

img {
	margin-bottom: 2em;
}

nav {
	text-align: right;
	font-size: 1.3em;
	padding: 1.5em 1.5em 0em;
	color: #7EADFF;
}

nav .glyphicon {
	color: #02595F;
}

h1 {
	color: #D0DEF7;
	padding-top: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

h3 {
	color: #7EADFF;
	padding-left: 15px;
}



section {
	background-color: #02595F;
	padding-bottom: 3em;
	margin-top: 3em;
}

.category ul {
	color: #D0DEF7;
	margin-left: 2.1em;
	margin-right: 2.1em;
	clear: both;
}

a:focus {
	outline: none;
}

.right-col {
	padding-right: 30px;
}

/* -------------- inside sections -------- */
.nav-pills li a {
	color: #7EADFF;
	font-size: 1.1em;
}

.nav-pills li a:hover, .nav-pills li a:focus,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
ul li a.open, .detail a:hover, .expn a:hover {
	background-color: #D0DEF7;
	color: #02595F;
	border: none;
}

.dropdown .dropdown-menu {
	margin-left: 0;
	background-color: #02595F;
	font-size: 1.1em;
}

/* ---------------- details ------------------- */

.full-tiny>p {
	padding-left: 0;
}

.detail, .expn { 
	display: none;
}

.expn h3 {
	margin-top: 2.2em;
}

.expn h3>a {
	margin-left: -0.4em;
}

ul.down {
	margin: 0 1em;
	margin-left: 0;
	padding: 0.7em 1em 0.7em 0;
	list-style-type: none;
}

ul.down li {
	padding: 0.2em 0;
	color: #7EADFF;
}

.down .glyphicon {
	color: #7EADFF;
}

.down a:hover .glyphicon, .down a:hover .glyphicon, 
.down a:focus .glyphicon, .down a.open .glyphicon {
	color: #02595F;
}

.detail li a {
	font-size: 1em;
	color: #D0DEF7;
	padding: 0.5em;
}

.detail a, .expn a, .detail ul a {
	color: #7EADFF;
	border-radius: 4px;
	padding: 0.2em;
}

.expn a {
	padding-left: 0.4em;
	padding-right: 0.4em;
}

.expn img {
	border-radius: 0.5em;
}

.expn a.img-link {
	background-color: transparent;
}

.expn img {
	border: 0.1em solid #7EADFF;
}

.expn a>img:hover, .buy:hover {
	-webkit-box-shadow: 0px 0px 30px -4px rgba(126,173,255,1);
	-moz-box-shadow: 0px 0px 29px -4px rgba(126,173,255,1);
	box-shadow: 0px 0px 30px -4px rgba(126,173,255,1);
}

.knit a.buy {
	font-size: 1.1em;
	border: none;
	padding: 10px 15px;
	margin-left: 15px;
	background-color: #D0DEF7;
	color: #02595F;
}


/* ------------ detailed/hacks ---------- */
#email {
	margin-left: 2.1em;
}

#fed {
	margin-top: 0;
}

.corner {
	margin-bottom: 1.5em;
}

.narrow-title {
	display: none;
}
.awk-narrow-title {
		display: none;
}

#knit-teach ul, #fed-skills ul {
	margin: auto 0 10px 0;
	padding-left: 15px;
}

#knit-teach img {
	margin-top: 7px;
}
/* --------- @media ------------ */
@media screen and (max-width: 1154px) {
    .glyphicon-menu-left {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1051px) {
	.awk-narrow-title {
		display: inline;
	}
	.awk-wide-title {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.right-col {
		padding-left: 41px;
	}

	.expn h3 {
		margin-top: 0.7em;
	}
}

@media screen and (max-width: 569px) {
	h1 {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.nav.inner-nav {
		margin: auto 0;
	}
	#email {
		margin-left: 0;
	}

	#name {
		padding-left: 7px;
		padding-right: 7px;
	}

	.right-col {
		padding-left: 0;
		padding-right: 15px;
	}

	#knit-teach>.col-md-12 {
		padding-left: 0;
	}
}

@media screen and (max-width: 510px) and (min-width: 448px)  {
	.inner-nav>li>a {
		padding: 5px 7px 5px 7px;
	}
}

@media screen and (max-width: 462px) {
	.inner-nav>li {
		float: none;
	}

	/* remove decorative photos and resize text */
	.deco {
		display: none;

	}
	.full-tiny {
		width: 100%;
	}
}

@media screen and (max-width: 388px) {
	.wide-title {
		display: none;
	}
	.narrow-title {
		display: inline;
	}
}

@media screen and (max-width: 324px) {
	h1 {
		font-size: 30px;
	}
}
